.container {
    position: relative;
    z-index: 0;
    box-sizing: border-box;
}

.container1 {
    display: flex;
    background-color: #f2f3f5;
    min-height: calc(100vh - var(--header-height));
    top: var(--header-height);
    position: relative;
    z-index: 0;
}

.conten {
    width: 52%;
    display: flex;
    justify-content: center;
    padding-left: 32px;
    padding-right: 32px;
    flex-direction: row;
    flex-grow: 1;
    flex-shrink: 1;
    flex-wrap: nowrap;
    min-width: 0;
    flex-basis: 744px;
    align-items: stretch;
    position: relative;
    z-index: 0;
}
